/*Sección 2 - Contacto*/
.seccion{
    &__Contacto{
    width: 75%;
    margin: 3rem auto;
    padding: 1.5rem 1rem;
    background-color: #2d3c89;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 5px 0px rgb(0,0,0 / 30%);}
}
/*Formulario*/
.contactoTitulo{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1.5rem;
    text-align: center;
}